<div id="wrapper">
   <h1>donezo</h1>

   <div class="formtime">
   <form id="add_list" action="#" method="post">
     <label for="list_title">Add a new list:</label>
     <input type="text" id="list_title" name="list_title" placeholder="title">
     <input type="submit" value="(+) add">
   </form>
   
   <form id="add_task" action="#" method="post">
     <label for="select_list">Select List:</label>
     <select id="select_list" name="select_list"> 
     <%@lists.each do |list|%>
     <option value=<%=list.id%>><%=list.name%></option>
     <%end%>
     </select>

     <label for="task_description">Task description:</label>
     <input type="text" id="task_description" name="task_description" placeholder="description">

    <label for="task_priority">Priority</label>
     <select id="task_priority" value="Priority"> 
     <option value="High">High</option>
     <option value="Medium" selected="selected">Medium</option>
     <option value="Low">Low</option>
     </select>

     <input type="submit" value="(+) add">
   </form>
   </div>
   
   <section id="lists"> 
    <div class="row">
  
    <% @lists.each do |list| %>
      <div class="sandwich" id="list-<%=list.id%>">
        <h2> <%= list.name %></h2>
        <button class="delete-list-btn">bye</button>
      <ul>
      <%list.tasks.each do |task|%>
        <li><p><strong><%=task.name.capitalize%></strong> Priority: <%=task.priority%></p>
          <button class="delete-task-btn">byeeeee</button>
        </li>
      <%end%>
      </ul>
      </div>
    <% end %>
    </div>
</section> 
    
 </div>