<div id="wrapper">
   <h1>I HAVE SO MUCH TO DO!</h1>

   <form id="add_list" action="#" method="post">
     <label for="list_title">Add a new list:</label>
     <input type="text" id="list_title" name="list_title" placeholder="title">
     <input type="submit" value="(+) add">
   </form>
   
   <form id="add_task" action="#" method="post">
     <label for="select_list">Select List:</label>
     <select id="select_list" name="select_list"> 
     <%@lists.each do |list|%>
     <option value=<%=list.id%>><%=list.name%></option>
     <%end%>
     </select>

     <label for="task_description">Task description:</label>
     <input type="text" id="task_description" name="task_description" placeholder="description">

    <label for="task_priority">Priority</label>
     <select id="task_priority" value="Priority"> 
     <option value = "High">High</option>
     <option value = "Medium" selected = "selected">Medium</option>
     <option value = "Low">Low</option>
     </select>

     <input type="submit" value="(+) add">
   </form>
   
   <section id="lists"></section>
    
    <% @lists.each do |list| %>
    <div id = "list-<%=list.id%>">
    <h2> <%= list.name %></h2>
    <ul>
    <%list.tasks.each do |task|%>
      <li><%=task.name%>, Priority: <%=task.priority%></li>
    <%end%>
    </ul>
    </div>
    <% end %>


 </div>